.Home-container{
    width: 100vw;
    gap:50;
    display: flex;
    justify-content: center;



}
.product-container{
   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    

}
.imge{
    width: 100px;
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;

}

.card-container{
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: centers;
    
}
.card{
    width: 300px;
    height: 300px;
    border: 1px solid #fff;
    border-radius: 20px;
  
}